button {
  background: none;
  border: 2px solid #00FF66;
  border-radius: 5px;
  padding: 6px 40px;
  color: #00FF66;
  font-weight: bold;
  font-family: Roboto Mono, sans-serif;
  cursor: pointer;
  font-size: 1rem;
  margin: 15px;
}

button:hover {
  background-color: rgba(0,255,102,0.2);
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
}

img {
  display: flex;
  width: 75%;
  max-height: 25vh;
  animation: blink 10s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.bottomWrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.gameOver, h3 {
  display: flex;
  position: fixed;
  margin-top: 25px;
  margin-right: 20rem;
  font-size: 1rem;
  color: #00FF66;
}

.header {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.3rem;
  border-bottom: 2px solid #00FF66;
  margin-bottom: 15px;
  width: 50%;
}

h2 {
  font-size: 1rem;
  margin: 4px;
}

.middleWrapper {
  display: flex;
  position: fixed;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.grid {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-top: 20px;
}
